
{% block image_widget %}
	{% spaceless %}
		<div class="image_uploader">
			{% if image_url is not empty %}
				<img src="{{asset(image_url)}}" alt="Image" class="image_preview" />
				<input type="button" value="{{'form.image.change'|trans({}, 'BeltonSimpleAdminBundle')}}" class="btn change_image" />
				<label class="file_wrap" id="{{id}}" style="display:none;">
					<h3>{{'form.input.file'|trans({}, 'BeltonSimpleAdminBundle')}}</h3>
					<input type="file" id="{{id}}" name="{{full_name}}" class="hidden_input uploader" />
				</label>
			{% else %}
				<label class="file_wrap" id="{{id}}">
					<h3>{{'form.input.file'|trans({}, 'BeltonSimpleAdminBundle')}}</h3>
					<input type="file" id="{{id}}" name="{{full_name}}" class="hidden_input uploader" />
				</label>
			{% endif %}
		</div>
	{% endspaceless %}
{% endblock %}

{% block video_widget %}
	{% spaceless %}
		{{block('textarea_widget')}}
		<br />
		<p class="btn video_preview_button">
			{{'form.video.test'|trans({}, 'BeltonSimpleAdminBundle')}}
		</p>
	{% endspaceless %}
{% endblock %}

{% block crop_widget %}
	{% spaceless %}
		<input type="hidden" class="cropper" id="{{id}}" name="{{full_name}}" 
		value="" data-prototype="{{crop_options}}"} />
	{% endspaceless %}
{% endblock %}